node_modules
**/.vscode/*
!.vscode/settings.json
!.vscode/launch.json
dist/
build/
*.patch
*.log
reports/
coverage/
.settings/
out-tsc/
*~
*.swp
*.current
*.code-workspace
*.code-search
/coverage
.idea/
.seleniumSessionId.txt
.env
**/storageState.json
proxy.conf.mjs
